/* GENERAL */


/* HEADER */

header {
    padding: 20px;
}


/* MAP */

#map {
    height: 600px;
    width: 100%;
}

#showRestaurant {
    height: 600px;
    overflow: auto;
}


/* SECOND PAGE STYLE */

#nameRest {
    color: red;
    text-align: center;
    padding: 10px;
}

#streetView {
    height: 500px;
    width: 80%;
    padding: 20px;
    margin: 0 5%;
}

#infoRestaurant {
    height: 500px;
    overflow: auto;
}


/* RATING STARS STYLE */

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.sortByRating {
    margin-bottom: 20px;
}